.advantages {
  font-family: "Arial", sans-serif;
  font-size: @font-size-base;
  line-height: @line-height-base;
  font-weight: @font-weight-base;
  margin-bottom: 30px;
}

.advantages__inner {
  .wrapper;
  .flex-column;
}

.advantages__title {
  font-family: @font-family-base;
  font-size: 36px;
  line-height: 60px;
  font-weight: @font-weight-base;
  margin: 15px 0;
}

.advantages__list {
  .list-unstyled;
  position: relative;
}

.advantages__list li {
  padding: 15px 0 13px 80px;
}

.advantages__item::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: @color-base;
}

.advantages__item--composition::before {
  top: 13px;
  left: 0;
  background-image: url("../img/advantage-leaf@1x.png");
  background-image: url("../img/advantage-leaf@1x.webp");
}

.advantages__item--view::before {
  top: 93px;
  left: 0;
  background-image: url("../img/advantage-powder@1x.png");
  background-image: url("../img/advantage-powder@1x.webp");
}

.advantages__item--instruction::before {
  bottom: 90px;
  left: 0;
  background-image: url("../img/advantage-dining@1x.png");
  background-image: url("../img/advantage-dining@1x.webp");
}

.advantages__item--result::before {
  bottom: 10px;
  left: 0;
  background-image: url("../img/advantage-clock@1x.png");
  background-image: url("../img/advantage-clock@1x.webp");
}

@media (min-width: @tablet-width) {
  .advantages__list {
    .flex-wrap;
    flex-basis: 100%;
    margin: 70px 0;
  }

  .advantages__list li {
    flex-basis: 35%;
    padding: 93px 0 0;
  }

  .advantages__item--composition,
  .advantages__item--instruction {
    margin-right: 135px;
  }

  .advantages__item--composition,
  .advantages__item--view {
    margin-bottom: 153px;
  }

  .advantages__title {
    .title-tablet;
    margin: 15px 0 20px;
  }

  .advantages__item {
    .description-tablet;
  }

  .advantages__item--composition::before {
    width: 80px;
    height: 80px;
    top: -18px;
    left: -1px;
  }

  .advantages__item--view::before {
    width: 80px;
    height: 80px;
    top: -18px;
    left: 382px;
  }

  .advantages__item--instruction::before {
    width: 80px;
    height: 80px;
    top: 298px;
    left: -1px;
  }

  .advantages__item--result::before {
    width: 80px;
    height: 80px;
    top: 298px;
    left: 382px;
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    margin-bottom: 0;
  }

  .advantages__list {
    width: 1220px;
    margin: 70px 0 0;
  }

  .advantages__list li {
    flex-basis: 20%;
    padding: 85px 0 70px;
    margin-bottom: 0;
  }

  .advantages__title {
    margin: 45px 0 25px;
  }

  .advantages__item--composition,
  .advantages__item--instruction,
  .advantages__item--view {
    margin-right: 80px;
  }
}
