.advantages {
  margin-bottom: 33px;
  font-family: "Arial", sans-serif;
  font-size: @font-size-base;
  line-height: @line-height-base;
  font-weight: @font-weight-base;
  color: #111111;
}

.advantages__inner {
  .wrapper;
  .flex-column;
}

.advantages__title {
  margin: 17px 0;
  font-family: @font-family-base;
  font-size: 36px;
  line-height: 60px;
  font-weight: @font-weight-base;
}

.advantages__list {
  .list-unstyled;
  position: relative;
  color: #444444;
}

.advantages__list li {
  padding: 15px 0 12px 80px;
}

.advantages__item::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-color: @color-base;
}

.advantages__item--composition::before {
  top: 12px;
  background-image: url("../img/advantage-leaf@1x.webp"), url("../img/advantage-leaf@1x.png");
}

.advantages__item--view::before {
  top: 92px;
  background-image: url("../img/advantage-powder@1x.webp"), url("../img/advantage-powder@1x.png");
}

.advantages__item--instruction::before {
  bottom: 87px;
  background-image: url("../img/advantage-dining@1x.webp"), url("../img/advantage-dining@1x.png");
}

.advantages__item--result::before {
  bottom: 7px;
  background-image: url("../img/advantage-clock@1x.webp"), url("../img/advantage-clock@1x.png");
}

@media (min-width: @tablet-width) {
  .advantages__list {
    .flex-wrap;
    flex-basis: 100%;
    margin: 70px 0;
  }

  .advantages__list li {
    flex-basis: 35%;
    padding: 93px 0 0;
  }

  .advantages__item--composition,
  .advantages__item--instruction {
    margin-right: 135px;
  }

  .advantages__item--composition,
  .advantages__item--view {
    margin-bottom: 151px;
  }

  .advantages__title {
    .title-tablet;
    margin: 18px 0 20px;
  }

  .advantages__item {
    .description-tablet;
  }

  .advantages__item::before {
    width: 80px;
    height: 80px;
  }

  .advantages__item--composition::before {
    top: -19px;
    left: -2px;
  }

  .advantages__item--view::before {
    top: -19px;
    left: 382px;
  }

  .advantages__item--instruction::before {
    top: 297px;
    left: -2px;
  }

  .advantages__item--result::before {
    top: 297px;
    left: 382px;
  }

  .advantages__item--result {
    .flex-column;
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    margin-bottom: 0;
  }

  .advantages__inner {
    padding: 0 0 0 40px;
  }

  .advantages__list {
    margin: 70px 0 0;
  }

  .advantages__list li {
    flex-basis: 21%;
    padding: 85px 0 70px;
    margin-bottom: 0;
  }

  .advantages__title {
    margin: 45px 0 27px;
  }

  .advantages__item::before {
    top: -25px;
  }

  .advantages__item--composition::before {
    left: -1px;
  }

  .advantages__item--view::before {
    left: 323px;
  }

  .advantages__item--instruction::before {
    left: 649px;
  }

  .advantages__item--result::before {
    left: 974px;
  }

  .advantages__item--composition,
  .advantages__item--instruction,
  .advantages__item--view {
    margin-right: 60px;
  }

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .advantages__item span {
      margin-top: 25px;
    }
  }
}
