.catalog {
  font-size: 16px;
  line-height: 20px;
  font-weight: @font-weight-base;
  text-transform: @text-transform-base;
}

.catalog__inner {
  .wrapper;
}

.catalog__list {
  .list-unstyled;
  .flex-column;
}

.catalog__item {
  .flex-wrap;
}

.catalog__wrapper {
  .flex-column;
  width: 140px;
  margin-top: 20px;
}

.catalog__item-name {
  width: 80px;
}

.catalog__item-price,
span {
  font-family: @font-family;
  font-size: 12px;
  line-height: 16px;
  font-weight: @font-weight-base;
  text-transform: none;
  margin-bottom: 20px;
}

.catalog__item-button {
  flex-grow: 1;
  padding: 12px 0;
  text-align: center;
  text-transform: @text-transform-base;
  background-color: @color-base;
  color: @color-text;
  margin-bottom: 17px;
}

.catalog__all {
  .flex-column;
  margin: 70px auto 0;
  width: 280px;
  text-align: center;
}

.catalog__all p {
  margin: 15px 0 12px;
}

.catalog__list-button {
  background-color: @color-gray;
  padding: 10px 0;
}

@media (min-width: @tablet-width) {
  .catalog__list {
    .flex-wrap;
    .flex-row;
  }

  .catalog__item {
    .flex-column;
    width: 324px;
    margin: 10px;
  }

  .catalog__wrapper {
    width: 250px;
  }

  .catalog__item-name {
    .tagline-tablet;
    margin: 0 auto;
    width: 145px;
    text-align: center;
  }

  .catalog__item-price {
    font-size: 16px;
    line-height: 1;
  }

  .catalog__all {
    margin-top: auto;
    padding-bottom: 40px;
  }
}

@media (min-width: @desktop-width) {
  .catalog__item {
    width: 245px;
    margin: 0 20px;
  }
}
