.catalog {
  font-size: 16px;
  line-height: 20px;
  font-weight: @font-weight-base;
  text-transform: @text-transform-base;
  color: #111111;
}

.catalog__inner {
  .wrapper;
  padding: 0;
}

.catalog__list {
  .list-unstyled;
  .flex-column;
  padding: 0;
}

.catalog__item {
  .flex-wrap;
  min-height: 208px;
}

.catalog__item:not(:last-child) {
  border-bottom: 1px solid #e6e6e6;
}

.catalog__item-image {
  display: flex;
  flex-basis: 43%;
  max-height: 139px;
  padding-left: 22px;
}

.catalog__wrapper {
  .flex-column;
  flex-basis: 50%;
  margin-top: 22px;
}

.catalog__item-name {
  width: 95px;
}

.catalog__all span,
.catalog__item-price {
  margin-bottom: 22px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: @font-weight-base;
  text-transform: none;
}

.catalog__item-button {
  width: 100%;
  flex-grow: 1;
  margin: 0 20px 24px;
  padding: 10px 0 8px;
  text-align: center;
  text-transform: @text-transform-base;
  background-color: #68b738;
  color: @color-text;

  &:hover {
    color: rgba(255, 255, 255);
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.302);
    background-color: #5eaa2f;
  }
}

.catalog__all {
  .flex-column;
  width: 100%;
  margin: 70px auto 0;
  text-align: center;
}

.catalog__icon::before,
.catalog__icon::after {
  content: "";
  position: absolute;
  background: #d3d3d3;
}

.catalog__icon::before {
  width: 2px;
  height: 30px;
  top: -120px;
  left: 139px;
}

.catalog__icon::after {
  width: 30px;
  height: 2px;
  top: -105px;
  left: 125px;
}

.catalog__all p {
  margin: 10px 0 7px;
}

.catalog__list-button {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 20px;
  padding: 10px 0;
  color: #444444;
  background-color: @color-gray;

  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    background-color: #ebebeb;
    color: rgba(68, 68, 68, 0.302);
  }
}

/* stylelint-disable */
@media (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  .catalog__icon {
    left: 50%;
  }
}
/* stylelint-enable */

@media (min-width: @tablet-width) {
  .catalog__inner {
    padding: 0 30px;
  }

  .catalog__list {
    .flex-wrap;
    .flex-row;
    margin-top: 85px;
  }

  .catalog__item {
    .flex-column;
    position: relative;
    flex-basis: 45%;
    min-height: 511px;
    margin-bottom: 60px;
  }

  .catalog__item:not(:last-child) {
    border-bottom: none;
  }

  .catalog__item-image {
    align-items: flex-end;
    width: 324px;
    min-height: 208px;
    margin: 0 auto;
    padding-left: 0;
  }

  .catalog__item:not(:last-child)::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    z-index: -1;
    height: 85%;
    width: 100%;
    background-color: @color-gray;
  }

  .catalog__item:nth-child(odd) {
    margin-right: 60px;
  }

  .catalog__item-button {
    width: auto;
    flex-grow: 0;
    margin: 32px 38px 34px;
    padding: 10px 0;
  }

  .catalog__wrapper {
    flex-basis: 30%;
    width: 324px;
    margin: 35px auto 0;
  }

  .catalog__item-name {
    .tagline-tablet;
    width: 145px;
    margin: 0 auto;
    text-align: center;
  }

  .catalog__item-price {
    font-size: 16px;
    line-height: 1;
  }

  .catalog__all {
    margin: 80px 0 0;
    padding: 150px 0 38px;
    font-size: 20px;
    line-height: 1;
    border: 1px solid #e6e6e6;
  }

  .catalog__all p {
    max-width: 154px;
    margin: 14px auto 24px;
    padding: 0 80px 0 85px;
  }

  .catalog__all span {
    max-width: 214px;
    margin: 0 auto 23px;
    padding: 0 50px 60px 55px;
    font-size: 16px;
    line-height: 20px;
  }

  .catalog__list-button {
    margin: 0 30px 0 35px;
    font-size: 16px;
    line-height: 20px;
  }

  .catalog__icon::before {
    height: 60px;
    left: 50%;
    top: -297px;
  }

  .catalog__icon::after {
    width: 60px;
    top: -268px;
    left: 39%;
  }
}

@media (min-width: @desktop-width) {
  .catalog__inner {
    padding: 0 40px;
  }

  .catalog__wrapper {
    width: 245px;
    margin-top: 33px;
  }

  .catalog__item {
    flex-basis: 20%;
    margin: 0 80px 63px 0;
  }

  .catalog__item:nth-child(odd) {
    margin-right: 80px;
  }

  .catalog__item:nth-child(4n+4) {
    margin-right: 0;
  }

  .catalog__item-image {
    width: 245px;
  }

  .catalog__item-button {
    margin: 27px 38px;
  }

  .catalog__all {
    width: 240px;
  }

  .catalog__all p {
    margin: 10px 0 25px;
    padding: 0 40px 0 45px;
  }

  .catalog__all span {
    padding: 0 30px 58px;
  }

  .catalog__icon::before {
    left: 49%;
    top: -297px;
  }

  .catalog__icon::after {
    top: -266px;
    left: 33%;
  }

  .catalog__list-button {
    margin: 0 33px;
    padding: 12px 0;
  }
}
