.catalog {
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-transform: uppercase;
}

.catalog__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.catalog__item {
  margin-bottom: 25px;
}

.catalog__item-price,
span {
  font-family: Arial;
  font-size: 12px;
  line-height: 16px;
  font-weight: normal;
  text-transform: none;
  margin-bottom: 20px;
}

.catalog__item-button {
  text-transform: uppercase;
  background-color: #68b738;
  color: #ffffff;
  padding: 12px 0;
}

.catalog__list-button {
  background-color: #f2f2f2;
}
