.categories {
  font-family: @font-family-base;
  font-size: 16px;
  line-height: 1;
  font-weight: @font-weight-base;
  text-transform: @text-transform-base;
}

.categories__title {
  font-size: 24px;
  line-height: 37.02px;
  font-weight: @font-weight-base;
  text-align: center;
}

.categories__list {
  .list-unstyled ()
}

.categories__list {
  li {
    margin: 10px 0;
    padding-top: 27px;
    background-color: @color-gray;
  }
}

.categories__description {
  padding: 0 20px;
  font-family: @font-family;
  font-size: @font-size-base;
  line-height: @line-height-base;
  font-weight: @font-weight-base;
  text-transform: none;
}

.categories__view {
  padding: 0 20px;
  font-size: 16px;
  line-height: 1;
}
