.categories {
  font-family: @font-family-base;
  font-size: 16px;
  line-height: 1;
  font-weight: @font-weight-base;
  text-transform: @text-transform-base;
}

.categories__inner {
  .wrapper;
}

.categories__list {
  .flex-column;
  .list-unstyled;
}

.categories__list li {
  padding-bottom: 22px;
  position: relative;
  background-color: @color-gray;
}

.categories__item::after,
.categories__item::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
}

.categories__item--slim {
  margin-bottom: 25px;
}

.categories__item--slim::before {
  top: 25px;
  left: 33px;
  width: 35px;
  height: 49px;
  z-index: 1;
  background-image: url("../img/icon-cat-slim.svg");
}

.categories__item--pro::before {
  top: 30px;
  left: 15px;
  width: 67px;
  height: 28px;
  z-index: 1;
  background-image: url("../img/icon-cat-pro.svg");
}

.categories__item::after {
  top: 25px;
  left: 25px;
  border-radius: 50%;
  background-color: @color-base;
}

.categories__item--pro::after {
  top: 20px;
  left: 25px;
  border-radius: 50%;
  background-color: @color-base;
}

.categories__title {
  font-size: 24px;
  line-height: 37px;
  font-weight: @font-weight-base;
  margin: 30px 0 29px 90px;
}

.categories__description {
  margin: 0;
  padding: 2px 20px 40px;
  font-family: "Arial", sans-serif;
  font-size: @font-size-base;
  line-height: @line-height-base;
  font-weight: @font-weight-base;
  text-transform: none;
}

.categories__view {
  padding: 0 20px;
  font-size: 16px;
  line-height: 1;
}

.categories__view::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 11px;
  background-repeat: no-repeat;
  bottom: 25px;
  left: 115px;
}

.categories__view--arrow::after {
  background-image: url("../img/icon-right-arrow-long.svg");
}

@media (min-width: @tablet-width) {
  .categories__list li {
    margin-bottom: 30px;
    padding-bottom: 23px;
  }

  .categories__item--slim {
    margin-bottom: 35px;
  }

  .categories__title {
    font-size: 36px;
    line-height: 37px;
    margin: 76px 0 25px 53px;
  }

  .categories__description {
    .description-tablet;
    padding: 0 275px 0 50px;
  }

  .categories__item--pro p {
    padding: 0 315px 0 50px;
  }

  .categories__view {
    .tagline-tablet;
    display: block;
    margin: 55px 0 40px 52px;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .categories__list {
    .flex-row;
  }

  .categories__item {
    flex-basis: 49%;
  }

  .categories__item--slim {
    margin-right: 80px;
    margin-bottom: 0;
  }

  .categories__title {
    font-size: 36px;
    line-height: 37px;
    margin: 75px 0 75px 215px;
  }

  .categories__description,
  .categories__item--pro p {
    padding: 0 30px 0 50px;
  }

  .categories__view {
    margin: 30px 0 40px 50px;
  }

  .categories__view::after {
    bottom: 67px;
    left: 186px;
  }
}
