.contacts {
  width: 280px;
  .flex-column ();
  margin: 27px auto;
}
.contacts__title {
  margin: 0;
  font-family: @font-family-base;
  font-size: 16px;
  line-height: 20px;
  font-weight: @font-weight-base;
  text-transform: @text-transform-base;
}

.contacts__add {
  font-family: @font-family;
  font-size: @font-size-base;
  line-height: 20px;
  font-weight: @font-weight-base;
  text-transform: none;
}

.contacts__wrapper {
  display: flex;
}
@media (min-width: @tablet-width) {
  .contacts {
    width: 708px;
  }

  .contacts__title {
    width: 155px;
  }

  .contacts__add {
    width: 155px;
    margin-left: auto;
  }

  .contacts__image {
    width: 708px;
  }
}
@media (min-width: @desktop-width) {
  .contacts {
    width: 1440px;
  }

  .contacts__wrapper {
    width: 570px;
    margin: 0 70px;
  }

  .contacts__add {
    margin-left: 0;
  }
}
