.contacts__inner {
  .wrapper;
  .flex-column;
  position: relative;
  padding: 0;
}

.contacts__wrapper {
  .flex-row;
  z-index: 6;
  margin: 0 auto;
  padding: 28px 18px 25px 19px;
  background-color: #ffffff;
}

.contacts__wrapper--page {
  background-color: @color-gray;
}

.contacts__title {
  .flex-column;
  margin: 0;
  font-family: @font-family-base;
  font-size: 16px;
  line-height: 20px;
  font-weight: @font-weight-base;
  text-transform: @text-transform-base;
  color: #111111;
}

.contacts__title span {
  width: 140px;
}

.contacts__add {
  width: 141px;
  margin-left: auto;
  font-family: "Arial", sans-serif;
  font-size: @font-size-base;
  line-height: 20px;
  font-weight: @font-weight-base;
  text-transform: none;
  color: #444444;
}

.contacts__add span {
  margin: 0;
  font-size: @font-size-base;
  line-height: 20px;
  font-weight: @font-weight-base;
}

.contacts__map {
  position: relative;
}

.contacts__map iframe {
  position: absolute;
  top: 112px;
  z-index: 2;
  width: 100%;
  height: 367px;
  border: 0;
}

.contacts__image {
  height: 365px;
}

.contacts__icon {
  position: absolute;
  bottom: 37%;
  left: 42%;
  z-index: 5;
}

/* stylelint-disable */
@media (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  .contacts__add {
    width: 138px;
    margin-left: auto;
  }
}
/* stylelint-enable */

@media (min-width: @tablet-width) {
  .contacts__inner {
    margin: 0 auto;
    padding: 0;
  }

  .contacts__wrapper {
    width: 630px;
    margin: 0 auto;
    padding: 63px 0 55px 0;
  }

  .contacts__title {
    margin-top: 1px;
    margin-right: auto;
    font-size: 20px;
    line-height: 25px;
  }

  .contacts__title span {
    width: 220px;
  }

  .contacts__add {
    width: 25%;
    margin-left: auto;
    margin-right: 5px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  .contacts__add span {
    display: block;
    padding-top: 20px;
    font-size: 16px;
    line-height: 20px;
  }

  .contacts__map iframe {
    top: 200px;
    width: 100%;
    height: 402px;
  }

  .contacts__image {
    height: 402px;
  }

  .contacts__icon {
    bottom: 24%;
    left: 42.5%;
  }

  .contacts__icon img {
    height: 106px;
    width: 113px;
  }
}

@media (min-width: @desktop-width) {
  .contacts__inner {
    min-height: auto;
  }

  .contacts__wrapper {
    display: flex;
    width: 570px;
    min-height: 203px;
    margin: 95px 0 0 40px;
    padding: 0;
    background-color: #ffffff;
  }

  .contacts__title {
    padding: 63px 0 0 75px;
  }

  .contacts__add {
    width: 30%;
    margin: 0;
    padding: 63px 75px 0 0;
    text-align: left;
  }

  .contacts__map {
    min-height: 400px;
  }

  .contacts__map iframe {
    top: 0;
  }

  .contacts__image {
    position: absolute;
    height: 402px;
    top: 0;
  }

  .contacts__icon {
    bottom: 35.6%;
    left: 71.7%;
  }
}
