.contacts__inner {
  .wrapper;
  .flex-column;
  padding: 0;
  position: relative;
}

.contacts__wrapper {
  .flex-row;
  margin-top: 10px;
  padding: 0 20px;
  z-index: 1;
}

.contacts__title {
  margin: 0;
  font-family: @font-family-base;
  font-size: 16px;
  line-height: 20px;
  font-weight: @font-weight-base;
  text-transform: @text-transform-base;
}

.contacts__add {
  font-family: "Arial", sans-serif;
  font-size: @font-size-base;
  line-height: 20px;
  font-weight: @font-weight-base;
  text-transform: none;
  margin: 0 0 27px 20px;
}

.contacts__add span {
  font-size: @font-size-base;
  line-height: 20px;
  font-weight: @font-weight-base;
  margin: 0;
}

.contacts__image {
  height: 365px;
  width: 100%;
}
/*.contacts__image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 55px;
  height: 53px;
  background-repeat: no-repeat;
  background-position: top center;
    z-index: 1;
}

.contacts__image--pin::before {
  background-image: url("../img/map-pin.png");
}*/

@media (min-width: @tablet-width) {
  .contacts__inner {
    padding: 0;
  }

  .contacts__wrapper {
    margin: 68px 0 30px 50px;
  }

  .contacts__title {
    width: 155px;
    font-size: 20px;
    line-height: 25px;
  }

  .contacts__add {
    width: 175px;
    margin-left: auto;
    margin-right: 50px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  .contacts__add span {
    font-size: 16px;
    line-height: 20px;
    display: block;
    padding-top: 20px;
  }

  .contacts__image {
    height: auto;
  }
}

@media (min-width: @desktop-width) {
  .contacts__inner {
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 400px;
  }

  .contacts__wrapper {
    width: 570px;
    min-height: 203px;
    background-color: #ffffff;
    z-index: 1;
    margin: 95px 0 0 40px;
    padding: 0;
    display: flex;
  }

  .contacts__title {
    padding: 65px 75px 0;
  }

  .contacts__image {
    position: absolute;
    top: 0;
    height: 400px;
  }

  .contacts__add {
    padding: 60px 18px 0;
    margin: 0;
    text-align: left;
  }
}
