.copyright__link {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
}

.copyright__logo {
  position: relative;

  &:hover {
    color: rgba(127, 193, 87);
  }

  &:active {
    color: rgba(127, 193, 87, 0.302);
  }
}

.copyright__htmlacademy {
  position: absolute;
  top: -11px;
  left: -39px;
  width: 50px;
  height: 40px;
  fill: currentColor;
}

@media (min-width: @tablet-width) {
  .copyright__link {
    margin-right: 50px;
  }
}

@media (min-width: @desktop-width) {
  .copyright__logo {
    margin-right: 20px;
    text-align: right;
  }
}
