.copyright__link {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  margin-top: 10px;
}

.copyright a[href] {
  &:hover {
    fill: #7fc157;
    color: #7fc157;
  }

  &:active {
    fill: rgba(127, 193, 87, 0.302);
    color: rgba(127, 193, 87, 0.302);
  }
}

.copyright__logo {
  text-align: right;
}

.copyright__logo img {
  width: 28%;
}
