.example {
  padding: 20px;
  font-family: 'Oswald';
  font-weight: normal;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.example__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: normal;
  text-transform: none;
}

.example__description {
  font-family: Arial;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  text-transform: none;
}

.example__total {
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
}

.example__list {
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
}
