.example {
  .flex-column ();
  width: 280px;
  margin: 0 auto;
  padding: 20px;
  font-family: @font-family-base;
  font-weight: @font-weight-base;
  text-transform: @text-transform-base;
  background-color: @color-gray;
}

.example__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: @font-weight-base;
  text-transform: none;
}

.example__description {
  font-family: @font-family;
  font-size: 14px;
  line-height: 18px;
  font-weight: @font-weight-base;
  text-transform: none;
}

.example__total {
  font-size: @font-size-base;
  line-height: 20px;
  font-weight: @font-weight-base;
  margin: 20px 0;
}

.example__list {
  font-size: 24px;
  line-height: 1;
  font-weight: @font-weight-base;
}

@media (min-width: @tablet-width) {
  .example {
    width: 708px;
  }

  .example__wrapper {
    display: flex;
  }

  .example__total {
    margin-left: auto;
  }
}

@media (min-width: @desktop-width) {
  .example__wrapper {
    .flex-column ();
  }

  .example {
    width: 1220px;
    .flex-row ();
  }

  .example__wrap {
    flex-basis: 49%;
  }

  .example__total {
    margin-left: 20px;
  }

  .example__changes {
    flex-basis: 49%;
  }
}
