.extra {
  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
  text-transform: uppercase;
}

.extra__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  text-transform: none;
}

.extra__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.extra__item {
  margin-bottom: 16px;
}

.extra__item-price {
  font-family: Arial;
  font-size: 14px;
  line-height: 14px;
  font-weight: normal;
  text-transform: none;
  margin-bottom: 20px;
}

.extra__item-button {
  background-color: #68b738;
  color: #ffffff;
  padding: 12px 0;
}

.extra__gift {
  width: 280px;
  height: 289px;
  font-family: Arial;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  color: #ffffff;
  text-transform: none;
  background-color: #63a73a;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  margin: 40px 0;
}
