.extra {
  font-size: 16px;
  line-height: 1;
  font-weight: @font-weight-base;
  text-transform: @text-transform-base;
}

.extra__inner .extra__title {
  display: flex;
  align-items: center;
}

.extra__title::after {
  position: relative;
  content: "";
  top: 3px;
  width: 28px;
  height: 4px;
  background: @color-base;
  margin-left: 22px;
  flex-grow: 1;
  flex-shrink: 0;
}

.extra__title {
  margin: 28px 0 32px 20px;
  font-size: 24px;
  line-height: 1;
  font-weight: @font-weight-base;
  text-transform: none;
}

.extra__wrap {
  .wrapper;
  padding: 0 18px;
}

.extra__list {
  .list-unstyled;
}

.extra__list li {
  min-height: 129px;
}

.extra__item {
  .flex-column;
}

.extra__item-name {
  margin: 15px 2px 14px;
}

.extra__item-price {
  margin-bottom: 20px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 1;
  font-weight: @font-weight-base;
  text-transform: none;
}

.extra__item-button {
  margin: 12px 2px 0;
  padding: 12px 0 11px;
  text-align: center;
  background-color: @color-base;
  color: @color-text;

  &:active {
    color: rgba(255, 255, 255, 0.302);
  }
}

.extra__gift {
  position: relative;
  display: flex;
  justify-content: center;
  width: auto;
  min-height: 289px;
  margin: 40px 2px 37px;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: @font-weight-base;
  color: @color-text;
  text-transform: none;
  background-color: @color-base;
  background-image: url("../img/gift-photo-mobile@1x.webp"), url("../img/gift-photo-mobile@1x.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
  background-image: url("img/gift-photo-mobile@2x.webp"), url("img/gift-photo-mobile@2x.jpg");
}

.extra__icon {
  position: absolute;
  top: 65px;
  left: 112px;
  width: 55px;
  height: 60px;
  background-repeat: no-repeat;
  fill: currentColor;
}

.extra__gift p {
  .flex-column;
  margin-top: auto;
  padding: 25px 0;
  text-align: center;
}

/* stylelint-disable */
@media (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  .extra__icon {
    left: 40%;
  }
}
/* stylelint-enable */

@media (min-width: @tablet-width) {
  .extra {
    .tagline-tablet;
  }

  .extra__title::after,
  .extra__title::before {
    position: relative;
    content: "";
    top: 5px;
    width: 28px;
    height: 4px;
    background: @color-base;
  }

  .extra__title::before {
    margin-right: 38px;
  }

  .extra__title::after {
    margin-left: 38px;
  }

  .extra__title {
    margin: 5px 0;
    font-size: 36px;
    line-height: 1;
  }

  .extra__list {
    width: 635px;
    margin: 85px 38px 0;
  }

  .extra__list li {
    margin-bottom: 10px;
  }

  .extra__item-name {
    flex-basis: 49%;
    margin: 20px 0;
  }

  .extra__wrapper {
    display: flex;
  }

  .extra__item-price {
    margin-left: auto;
  }

  .extra__item-button {
    margin: 6px 2px 0 0;
    padding: 10px 0;
    font-size: 16px;
    line-height: 20px;
  }

  .extra__gift {
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    min-height: 200px;
    margin: 75px 0;
    background-image: url("../img/gift-photo-tablet@1x.webp"), url("../img/gift-photo-tablet@1x.jpg");
    background-size: cover;
  }

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("img/gift-photo-tablet@2x.webp"), url("img/gift-photo-tablet@2x.jpg");
  }

  .extra__gift p {
    flex-basis: 24%;
    margin-top: 71px;
    padding: 0 115px 0 0;
    text-align: left;
  }

  .extra__icon {
    left: 91px;
  }
}

@media (min-width: @desktop-width) {
  .extra__title {
    margin: 8px 0 80px;
    font-size: 36px;
    line-height: 1;
  }

  .extra__title::after {
    top: 6px;
  }

  .extra__title::before {
    top: 6px;
    left: -40px;
    margin-right: 10px;
  }

  .extra__wrapper {
    flex-basis: 70%;
  }

  .extra__list {
    flex-basis: 75%;
    margin: 0;
  }

  .extra__item {
    .flex-row;
    min-height: 72px;
    margin-bottom: 0;
  }

  .extra__list li {
    min-height: 73px;
    margin-bottom: 0;
  }

  .extra__item-name {
    .tagline-tablet;
    margin: 26px 0;
  }

  .extra__item-price {
    width: 285px;
  }

  .extra__item-button {
    width: 245px;
    margin: 15px 0 18px 8px;
    padding: 9px 0;
  }

  .extra__wrap {
    display: flex;
  }

  .extra__gift {
    flex-basis: 20%;
    height: 290px;
    margin: 0 0 85px 60px;
    background-image: url("../img/gift-photo-desktop@1x.webp"), url("../img/gift-photo-desktop@1x.jpg");
  }

  .extra__gift p {
    flex-basis: 100%;
    padding: 115px 0 0;
    text-align: center;
  }

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("img/gift-photo-desktop@2x.webp"), url("img/gift-photo-desktop@2x.jpg");
  }

  .extra__icon {
    left: 95px;
  }
}
