.extra {
  font-size: 16px;
  line-height: 1;
  font-weight: @font-weight-base;
  text-transform: @text-transform-base;
}

.extra__title {
  font-size: 24px;
  line-height: 1;
  font-weight: @font-weight-base;
  text-transform: none;
}

.extra__list {
 .list-unstyled ()
}

.extra__item {
  margin-bottom: 16px;
}

.extra__item-price {
  font-family: @font-family;
  font-size: 14px;
  line-height: 1;
  font-weight: @font-weight-base;
  text-transform: none;
  margin-bottom: 20px;
}

.extra__item-button {
  background-color: @color-base;
  color: @color-text;
  padding: 12px 0;
}

.extra__gift {
  width: 280px;
  height: 289px;
  font-family: @font-family;
  font-size: 16px;
  line-height: 20px;
  font-weight: @font-weight-base;
  color: @color-text;
  text-transform: none;
  background-color: @color-base;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  margin: 40px 0;
}
