.facts {
  display: table;
  border-collapse: collapse;
  margin: 10px 0 0;
  font-family: @font-family-base;
  font-size: 24px;
  line-height: 29px;
}

.facts tbody {
  display: flex;
}

.facts__fact {
  .flex-column;
  padding: 0;
  text-align: center;
}

.facts__fact:not(:last-child) {
  margin-right: 85px;
  margin-left: 34px;
}

.facts__kilograms-days {
  padding: 0 0 6px;
}

.facts__weight-time {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 1;
  font-weight: @font-weight-base;
  text-transform: none;
  width: 55px;
  align-self: center;;
}

@media (min-width: @tablet-width) {
  .facts {
    font-size: 30px;
    line-height: 37px;
  }

  .facts__fact {
    padding: 0 30px;
  }

  .facts__fact:not(:last-child) {
    margin-right: 30px;
    margin-left: 0;
  }

  .facts__kilograms-days {
    padding: 0;
  }

  .facts__weight-time {
    font-size: 14px;
    line-height: 40px;
  }
}

@media (min-width: @desktop-width) {
  .facts__kilograms-days {
    padding: 0 0 5px 0;
  }

  .facts__weight-time {
    font-size: 14px;
    line-height: 30px;
  }
}
