.facts {
  display: table;
  border-collapse: collapse;
  margin: 0;
  font-family: @font-family-base;
  font-size: 24px;
  line-height: 29px;
}

.facts tbody {
  display: flex;
}

.facts__fact {
  .flex-column;
  position: relative;
  padding: 0;
  text-align: center;
}

.facts__fact:not(:last-child) {
  margin-right: 30px;
}

.facts__kilograms-days {
  z-index: 1;
  width: 123px;
  padding: 11px 0 15px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}

.facts__weight-time {
  position: absolute;
  bottom: -15px;
  left: 22px;
  z-index: 4;
  width: 80px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 1;
  font-weight: @font-weight-base;
  text-transform: none;
  background-color: #f2f2f2;
}

@media (min-width: @tablet-width) {
  .facts {
    font-size: 30px;
    line-height: 37px;
  }

  .facts__fact:not(:last-child) {
    margin-right: 40px;
  }

  .facts__kilograms-days {
    width: 160px;
    padding: 15px 0 17px;
  }

  .facts__weight-time {
    bottom: -22px;
    left: 15px;
    width: 130px;
    font-size: 14px;
    line-height: 40px;
  }
}

@media (min-width: @desktop-width) {
  .facts__weight-time {
    bottom: -15px;
    font-size: 14px;
    line-height: 30px;
  }
}
