.form {
  .wrapper;
  margin-top: 35px;
  font-family: @font-family-base;
  font-size: 16px;
  line-height: 18px;
  text-transform: @text-transform-base;
}

.form__user {
  margin-bottom: 20px;
}

.form__user div {
  display: flex;
  max-height: 45px;
  margin-bottom: 15px;
}

.form__lable {
  padding-top: 10px;
}

.form__input {
  padding: 13px 15px;
  margin: 0 0 0 15px;
  box-sizing: border-box;
  font-family: @font-family-base;
  border: 1px solid @color-gray;
  font-size: 16px;
  line-height: 18px;
  text-transform: @text-transform-base;
  flex-grow: 1;
}

.form__target {
  padding-top: 28px;
  margin-left: 25px;
}

.form__target div {
  margin-bottom: 25px;
}

.form__title {
  padding-top: 30px;
  text-transform: none;
  font-size: 24px;
  line-height: 1;
}

.form__info div {
  display: flex;
  margin-bottom: 15px;
}
