.logo {
  margin: 5px auto 10px 5px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.logo__image {
  width: 190px;
}

.logo___logo-footer {

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.logo___logo-footer img {
  width: 128px;
}

@media (min-width: @tablet-width) {
  .logo {
    margin: 0 auto 10px 0;
  }

  .logo__image {
    width: 175px;
  }
}

@media (min-width: @desktop-width) {
  .logo__image {
    width: 200px;
  }
}
