.main-nav {
  .flex-column;
  width: 280px;
}

.main-nav__list {
  .list-unstyled;
}

@media (min-width: @tablet-width) {
  .main-nav {
    .flex-row;
    width: 445px;
  }

  .main-nav__list {
    .flex-row;
  }

  .main-nav__list li {
    padding: 0 10px;
  }

  .main-nav__toggle {
    display: none;
  }
}
