.main-nav__list {
  .list-unstyled ()
}
@media (min-width: @tablet-width) {
  .main-nav {
    display: flex;
    flex-direction: row;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
  }
}
