.page-header {
  width: 280px;
  display: flex;
  justify-content: space-around;
  margin: 20px auto;
  font-size: 20px;
  line-height: 1;
  font-weight: @font-weight-base;
  background-color: @color-text;
}
@media (min-width: @tablet-width) {
  .page-header {
    width: 708px;
  }
}
@media (min-width: @desktop-width) {
  .page-header {
    width: 1220px;
  }
}
