.page-footer {
  background-color: @color-gray;
}

.page-footer__inner {
  .wrapper;
  .flex-column;
  padding-bottom: 30px;
}

.page-footer__logo {
  margin: 35px 0 30px 75px;
}

.page-footer__social {
  margin: 25px 0 40px;
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  margin: 28px 0 0;
}

@media (min-width: @tablet-width) {
  .page-footer__inner {
    .flex-row;
    justify-content: space-around;
    padding: 50px 30px;
  }

  .page-footer__logo {
    margin: 10px 0;
  }

  .page-footer__social {
    width: 130px;
    margin: 10px 0 0 100px;
  }

  .page-footer__copyright {
    margin: 10px 0 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__inner {
    padding: 55px 40px;
    padding-right: 20px;
  }

  .page-footer__logo {
    margin: 10px 0 0;
  }

  .page-footer__social {
    margin-left: 400px;
    margin-top: 10px;
  }
}
