.page-header {
  padding-top: 10px;
}

.page-header__inner {
  .flex-column;
  .wrapper;
  flex-wrap: wrap;
  padding: 0 15px;
}

@media (min-width: @tablet-width) {
  .page-header {
    padding-top: 27px;
  }

  .page-header__inner {
    flex-direction: row;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .page-header__inner {
    .wrapper;
    .flex-around;
    font-size: 20px;
    line-height: 1;
    font-weight: @font-weight-base;
    background-color: @color-text;
  }

  .page-header {
    padding-top: 50px;
  }
}
