.page-footer {
  margin-top: 27px;
  background-color: @color-gray;
}

.page-footer__inner {
  .wrapper;
  .flex-column;
}

.page-footer__copyright {
  display: flex;
  justify-content: flex-start;
}

@media (min-width: @tablet-width) {
  .page-footer__inner {
    .flex-row;
    justify-content: space-around;
    padding: 58px 30px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__inner {
    padding: 58px 40px;
  }
}
