.page {
  width: 100%;
  padding: 0;
  margin: 0 auto;
  color: #111111;
}

.page__title {
  .wrapper;
  padding: 14px 20px 28px;
  margin: 0 auto;
  font-size: 36px;
  line-height: 60px;
  font-weight: @font-weight-base;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.page__title--program {
  padding-bottom: 25px;
  border-bottom: none;
}

.page__description {
  .wrapper;
  padding: 0 35px 0 20px;
  font-size: 14px;
  line-height: 18px;
  text-transform: @text-transform-base;
}

@media (min-width: @tablet-width) {
  .page__title {
    .title-tablet;
    margin: 45px auto 0;
    border-bottom: none;
    border-top: none;
  }

  .page__title--program {
    margin: 43px auto 0;
  }

  .page__description {
    max-width: 378px;
    margin-left: 70px;
    padding: 30px 0;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .page__title {
    margin: 63px auto 20px;
    padding: 0 40px;
  }

  .page__title--program {
    margin-bottom: 22px;
  }

  .page__description {
    max-width: 100%;
    margin-left: auto;
    padding: 31px 930px 30px 40px;
  }
}
