.program {
  font-family: @font-family-base;
  font-size: @font-size-base;
  line-height: 1;
  font-weight: 400;
  color: @color-text;
}

.program__inner {
  .wrapper;
  .flex-column;
  padding-bottom: 20px;
}

.program__header {
  margin-bottom: 30px;
  z-index: 1;
}

.program__title {
  padding: 30px 0 25px;
  margin: 0;
  font-size: 36px;
  line-height: 1;
  font-weight: 400;
  text-align: center;
}

.program__tagline {
  text-transform: @text-transform-base;
  text-align: center;
  margin: 0;
}

.program__choice-program {
  background-color: @color-base;
  color: @color-text;
  text-transform: @text-transform-base;
  padding: 15px 0;
  text-align: center;
}

.program__logo::before {
  content: "";
  position: absolute;
  top: 65px;
  right: 0;
  width: 320px;
  height: 305px;
  background-color: #64a83b;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: content;
}

.program__logo-image {
  position: relative;
}

@media (min-width: @tablet-width) {
  .program {
    .tagline-tablet;
  }

  .program__header {
    background-image: none;
    background-color: @color-text;
    color: #111111;
    text-align: left;
    margin-left: 85px;
  }

  .program__title {
    .title-tablet;
    padding: 55px 50px 40px 0;
    text-align: left;
    text-transform: none;
  }

  .program__tagline {
    text-align: left;
  }

  .program__logo {
    order: 4;
  }

  .program__logo::before {
    background-color: transparent;
    background-image: none;
  }

  .program__choice-program {
    margin: 15px auto 0 85px;
    padding: 15px 28px;
  }
}

@media (min-width: @desktop-width) {
  .program__inner {
    .flex-row;
    flex-wrap: wrap;
  }

  .program__header {
    width: 450px;
    margin: 50px 0 0 80px;
  }

  .program__title {
    padding: 55px 0 40px;
  }

  .program__logo {
    order: 0;
    flex-grow: 1;
    margin-top: 40px;
  }

  .program__logo-image {
    position: relative;
  }

  .program__logo::before {
    top: 0;
    right: 0;
    width: 720px;
    height: 696px;
    background-color: #64a83b;
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-size: content;
  }

  .program__choice-program {
    margin: 55px 80px;
  }
}
