.program {
  font-family: @font-family-base;
  font-size: @font-size-base;
  line-height: 1;
  font-weight: 400;
  color: @color-text;
}

.program__inner {
  .wrapper;
  .flex-column;
  position: relative;
  padding-bottom: 22px;
}

.program__header {
  z-index: 1;
  margin-bottom: 30px;
}

.program__title {
  padding: 28px 0 25px;
  margin: 0;
  font-size: 36px;
  line-height: 1;
  font-weight: 400;
  text-align: center;
}

.program__tagline {
  margin: 0;
  text-transform: @text-transform-base;
  text-align: center;
}

.program__choice-program {
  margin-top: 273px;
  padding: 13px 0;
  background-color: #68b738;
  color: @color-text;
  text-transform: @text-transform-base;
  text-align: center;

  &:hover {
    color: rgba(255, 255, 255);
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.302);
    background-color: #5eaa2f;
  }
}

.program__logo::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 305px;
  background-color: #64a83b;
  background-image: url("../img/index-background-mobile@1x.webp"), url("../img/index-background-mobile@1x.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.webp"), url("../img/index-background-mobile@2x.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.program__logo-image {
  position: absolute;
}

@media (min-width: @tablet-width) {
  .program {
    .tagline-tablet;
    margin-bottom: 530px;
  }

  .program__header {
    margin-left: 88px;
    color: #111111;
    text-align: left;
    background-image: none;
    background-color: @color-text;
  }

  .program__title {
    .title-tablet;
    width: 420px;
    padding: 43px 0 41px;
    text-align: left;
    text-transform: none;
  }

  .program__tagline {
    text-align: left;
  }

  .program__logo {
    order: 4;
    position: relative;
  }

  .program__logo::before {
    background-color: transparent;
    background-image: none;
  }

  .program__logo-image {
    top: -80px;
    right: 4px;
    z-index: 3;
  }

  .program__choice-program {
    z-index: 4;
    margin: 18px auto 0 90px;
    padding: 15px 28px 16px 25px;
  }
}

@media (min-width: @desktop-width) {
  .program {
    margin-bottom: 270px;
  }

  .program__inner::before {
    content: "";
    position: absolute;
    top: -120px;
    right: 0;
    width: 50%;
    height: 692px;
    background-color: #64a83b;
    background-image: url("../img/index-background-desktop@1x.webp"), url("../img/index-background-desktop@1x.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/index-background-desktop@2x.webp"), url("../img/index-background-desktop@2x.jpg");
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  .program__inner {
    .flex-column;
    flex-wrap: wrap;
  }

  .program__header {
    width: 450px;
    margin: 45px 0 0 80px;
  }

  .program__title {
    width: 100%;
    padding: 55px 0 40px;
  }

  .program__logo {
    order: 0;
    flex-grow: 1;
    margin-top: 40px;
  }

  .program__logo-image {
    position: absolute;
    top: -300px;
    right: 218px;
  }

  .program__choice-program {
    margin: 13px auto 0 80px;
  }

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .program__choice-program {
      width: 246px;
    }
  }
}
