.slider__list {
  .list-unstyled;
  margin-top: 20px;
}

.slider__changes-after {
  display: none;
}

.slider__toggles {
  display: flex;
  position: relative;
  margin: 35px 20px;
  font-family: @font-family-base;
  font-size: 16px;
  line-height: 20px;
  font-weight: @font-weight-base;
  text-transform: @text-transform-base;
}

.slider__toggles::before {
  position: absolute;
  content: "";
  background-color: #ffffff;
  height: 12px;
  width: 85px;
  top: 3px;
  left: 80px;
  border: 1px solid #cdcdcd;
  border-radius: 20px;
}

.slider__toggles::after {
  position: absolute;
  content: "";
  background-color: @color-base;
  height: 9px;
  width: 37px;
  top: 5px;
  left: 86px;
  border-radius: 20px;
}

.slider__toggle-after {
  margin-left: auto;
  margin-right: 18px;
}

.slider__toggle-before {
  margin-left: 25px;
}

@media (min-width: @tablet-width) {
  .slider__list {
    display: flex;
    margin-top: 50px;
  }

  .slider__toggles {
    .tagline-tablet;
    margin-top: 33px;
  }

  .slider__toggle-before {
    margin-left: 47px;
  }

  .slider__toggle-after {
    margin-right: 50px;
  }

  .slider__toggle-after::before {
    position: absolute;
    content: "";
    height: 9px;
    width: 9px;
    top: 7px;
    left: 330px;
    border-radius: 50%;
    background-color: #63a73a;
    z-index: 1;
  }

  .slider__toggles::before {
    height: 6px;
    width: 427px;
    top: 7px;
    left: 120px;
    border: none;
  }

  .slider__toggles::after {
    height: 33px;
    width: 33px;
    top: -8px;
    left: 315px;
    border-radius: 50%;
    border: 2px solid #cdcdcd;
    background-color: #ffffff;
  }

  .slider__changes-after,
  .slider__changes-before {
    display: flex;
    position: relative;
    overflow: hidden;
    width: 690px;
    height: 500px;
  }

  .slider__changes-after img {
    position: absolute;
    top: 0;
    right: -15px;
  }

  .slider__changes-before img {
    position: absolute;
    top: 0;
    left: 15px;
  }
}

@media (min-width: @desktop-width) {
  .slider__list {
    margin-top: 0;
    width: 690px;
  }

  .slider__changes-after img {
    position: absolute;
    top: 0;
    right: 370px;
  }

  .slider__changes-before img {
    left: -20px;
  }

  .slider__toggles {
    margin: 57px 0;
  }

  .slider__toggles::before {
      left: 128px;
  }

  .slider__toggles::after {
      left: 325px;
  }

  .slider__toggle-after::before {
      left: 339px;
  }

  .slider__toggle-before {
    margin-left: 57px;
  }

  .slider__toggle-after {
    margin-right: 60px;
  }
}
