.slider__list {
  .list-unstyled;
  margin: 15px 0 0 -22px;
}

.slider__changes-before img {
  max-width: 320px;
}

.slider__changes-after {
  display: none;
}

.slider__toggles {
  display: flex;
  position: relative;
  margin: 28px 20px 35px;
  font-family: @font-family-base;
  font-size: 16px;
  line-height: 20px;
  font-weight: @font-weight-base;
  text-transform: @text-transform-base;
}

.slider__toggles::before {
  position: absolute;
  content: "";
  background-color: #ffffff;
  height: 12px;
  width: 80px;
  top: 2px;
  left: 80px;
  border: 1px solid #cdcdcd;
  border-radius: 20px;
}

.slider__toggles::after {
  position: absolute;
  content: "";
  background-color: @color-base;
  height: 9px;
  width: 37px;
  top: 5px;
  left: 86px;
  border-radius: 20px;
}

.slider__toggle-after {
  margin-left: auto;
  margin-right: 22px;
}

.slider__toggle-before {
  margin-left: 25px;
}

@media (min-width: @tablet-width) {
  .slider__list {
    display: flex;
    margin-top: 45px;
    margin-left: -340px;
  }

  .slider__toggles {
    .tagline-tablet;
    margin-top: 33px;
    margin-bottom: 72px;
  }

  .slider__toggle-before {
    margin-left: 47px;
  }

  .slider__toggle-after {
    margin-right: 50px;
  }

  .slider__toggle-after::before {
    position: absolute;
    content: "";
    height: 9px;
    width: 9px;
    top: 7px;
    left: 330px;
    border-radius: 50%;
    background-color: #63a73a;
    z-index: 1;
  }

  .slider__toggles::before {
    height: 6px;
    width: 427px;
    top: 7px;
    left: 120px;
    border: none;
  }

  .slider__toggles::after {
    height: 33px;
    width: 33px;
    top: -8px;
    left: 315px;
    border-radius: 50%;
    border: 2px solid #cdcdcd;
    background-color: #ffffff;
  }

  .slider__changes-after,
  .slider__changes-before {
    display: flex;
    position: relative;
    overflow: hidden;
    width: 690px;
    height: 500px;
  }

  .slider__changes-after img {
    position: absolute;
    top: 0;
    right: 49%;
  }

  .slider__changes-before img {
    position: absolute;
    top: 0;
    left: 51%;
    max-width: 100%;
  }
}

@media (min-width: @desktop-width) {
  .slider__list {
    margin-top: 0;
    width: 690px;
    margin-left: -315px;
  }

  .slider__changes-after img {
    right: 53%;
  }

  .slider__changes-before img {
    left: 47%;
  }

  .slider__toggles {
    margin: 60px 0 75px;
  }

  .slider__toggles::before {
    left: 158px;
  }

  .slider__toggles::after {
    left: 355px;
  }

  .slider__toggle-after::before {
    left: 369px;
  }

  .slider__toggle-before {
    margin-left: 87px;
  }

  .slider__toggle-after {
    margin-right: 0;
  }
}
