.slider__list {
  .list-unstyled;
  margin: 15px 0 0 -22px;
}

.slider__changes-before img {
  max-width: 320px;
}

.slider__changes-after {
  display: none;
}

.slider__toggles {
  position: relative;
  display: flex;
  margin: 26px 20px 37px;
  font-family: @font-family-base;
  font-size: 16px;
  line-height: 20px;
  font-weight: @font-weight-base;
  text-transform: @text-transform-base;
}

.slider__toggles::before {
  position: absolute;
  content: "";
  top: 4px;
  left: 80px;
  height: 12px;
  width: 80px;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 20px;
}

.slider__toggles::after {
  position: absolute;
  content: "";
  top: 8px;
  left: 85px;
  width: 36px;
  height: 7px;
  background-color: @color-base;
  border-radius: 20px;
}

.slider__toggle-after {
  margin-left: auto;
  margin-right: 20px;
}

.slider__toggle-before {
  margin-left: 23px;
}

@media (min-width: @tablet-width) {
  .slider::before,
  .slider::after {
    position: absolute;
    content: "";
    bottom: 0;
    z-index: -1;
    height: 43%;
    width: 395px;
    transform: translate(95%);
  }

  .slider::before {
    width: 70%;
    right: 100%;
    background-color: #f2f2f2;
  }

  .slider::after {
    bottom: 0;
    left: 6px;
    background-color: #eaeaea;
  }

  .slider__list {
    display: flex;
    margin-top: 45px;
    margin-left: -336px;
  }

  .slider__toggles {
    .tagline-tablet;
    width: 576px;
    margin: 30px 68px 70px;
  }

  .slider__toggle-before {
    margin-left: 0;
    border-bottom: 1px dotted #bebebe;
    line-height: 30px;

    &:focus {
      border-bottom: 1px dotted #bebebe;
    }

    &:hover {
      border-bottom: 1px solid;
    }

    &:active {
      border-bottom: none;
    }
  }

  .slider__toggle-after {
    margin-right: 0;
    border-bottom: 1px dotted #bebebe;
    line-height: 30px;

    &:focus {
      border-bottom: 1px dotted #bebebe;
    }

    &:hover {
      border-bottom: 1px solid;
    }

    &:active {
      border-bottom: none;
    }
  }

  .slider__toggles::after {
    position: absolute;
    content: "";
    top: 12px;
    left: 280px;
    z-index: 1;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #63a73a;
  }

  .slider__toggles::before {
    top: 13px;
    left: 70px;
    height: 6px;
    width: 427px;
    border: none;
    background-color: #dcdcdc;
  }

  .slider__button::after {
    position: absolute;
    content: "";
    top: -2px;
    left: 267px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid rgb(205, 205, 205);
    background-color: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  }

  .slider__button:hover::after {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
  }

  .slider__button:active::after {
    border: 2px solid rgb(104, 183, 56);
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
  }

  .slider__changes-after,
  .slider__changes-before {
    position: relative;
    display: flex;
    width: 690px;
    height: 500px;
    overflow: hidden;
  }

  .slider__changes-after img {
    position: absolute;
    top: 0;
    right: 49%;
  }

  .slider__changes-before img {
    position: absolute;
    top: 0;
    left: 51%;
    max-width: 100%;
  }
}

@media (min-width: @desktop-width) {
  .slider::before {
    height: 71%;
    width: 100%;
  }

  .slider::after {
    height: 71%;
    left: 46%;
  }

  .slider__list {
    width: 690px;
    margin-top: 0;
    margin-left: -315px;
  }

  .slider__changes-after img {
    right: 53%;
  }

  .slider__changes-before img {
    left: 47%;
  }

  .slider__toggles {
    width: 658px;
    margin: 55px 0 70px;
  }

  .slider__toggles::before {
    left: 158px;
  }

  .slider__toggles::after {
    left: 368px;
  }

  .slider__button::after {
    left: 355px;
  }

  .slider__toggle-before {
    margin-left: 90px;
  }

  .slider__toggle-after {
    margin-right: 0;
  }
}
