.table {
  display: table;
}

.table__row {
  display: table-cell;
  padding: 0 20px;
}

.table__field {
  display: table-row;
  font-family: @font-family;
  font-size: 12px;
  line-height: 1;
  font-weight: @font-weight-base;
  text-transform: none;
}
